h1{
	font-size: 40px;
	background: rgb(241,234,155);
	font-family: comic;
	text-align: center;
    
}
h2{
	text-align:center;
}
div{
	text-align:center;
}
.hyperlink{
	text-align: center;
}
.ifyouarereadingthisyouaregay{
	font-size: 10px;
	font-family: Arial;

}
body{
	background: rgb(214,197,132);
}
.quality{
	text-align: right;
	font-size: 26px;
	padding-top: 7px;
	padding-bottom: 7px:
}
.sub{
 font-size: 40px;
padding-top: 0px;
padding-bottom: 0px;
}
