h1{
	font-size: 40px;
	background: #777;
	font-family: comic;
    
}

img{
	padding-top: 10px;
}
.ifyouarereadingthisyouaregay{
	font-size: 10px;
	font-family: Arial;

}
body{
	background: #888;
}