h1{
	font-size: 40px;
	background: rgb(241,234,155);
	font-family: comic;
	text-align: center;
    
}
h2{
	text-align:center;
}
div{
	text-align:center;
}
.hyperlink{
	text-align: center;
}
.ifyouarereadingthisyouaregay{
	font-size: 10px;
	font-family: Arial;

}
body{
	background: rgb(214,197,132);
}
.212{
	text-align: right;
}
.212sub{
	padding-top: 5px;
}
