h1{
	font-size: 40px;
	background: rgb(134,181,100);
	font-family: comic;
	text-align: center;
    
}
}
img{
	padding-top: 10px;
}
.ifyouarereadingthisyouaregay{
	font-size: 10px;
	font-family: Arial;

}
body{
	background: rgb(158,225,84);
}
